<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SimpleTwitter.ReadModel.Properties.Settings.SimpleTwitterReadModelConnectionString1"
            connectionString="Data Source=ehp217\sql2008;AttachDbFilename=E:\Users\davida\dev\cqrs-sample\SimpleTwitter\SimpleTwitter.Web\App_Data\ReadModel.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>